@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{ 
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}

html {
  scroll-behavior: smooth;
}

body{
  background-color: #F5EFE6;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
 
  }

header {
    background-color: #80856D;
    width: 100%;
}

#thinking {
  width: 350px;
  border: #c5beb5 5px solid;
  padding: 2px;

}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



#firstNav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navBurger {
  display: none;
}

#menuBurger {
  display: none;
}

.a {
    padding: 0px 60px;
    text-decoration: none;
    font-size: 20px;
    color: #505050;
    font-weight: bold;
}

a:hover {
    top: -3px;
    transition-delay: 0.5s;
}

a:active {
    color: #505050;
}

a:visited {
    color:  #3b3535;
}


#logo {
    width: 70px ;
}

#menu {
    margin-top: 4%;
}

.title {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-left: 15px;
    padding-right: 20px;
    width: 80%;
    border-color: #7ab730 !important;
    border-left: 4px solid #7ab730 !important;
}

#sectionMain {

}

#fullMenu {
   margin-left: 0;
	 z-index: 100000;
   top: 5%;
   position: fixed;
   justify-content: flex-start;
   background-color: rgb(155 155 155 / 60%); 
   width: 75%;
   height: 90vh;
   display: none;
   left: 50%;
   transform: translate(-50%, -0%);
   flex-direction: column;
   align-content: center;
   align-items: center;
}

#soulignement {
  width: 35%;
}

#fullMenu h1 { 
  font-family: cursive;
  font-size: 35px;
  letter-spacing: 3px;
}

#fullMenu img {
  margin-top: -15px;
}

#fullMenu i {
font-size: 20px; 
position: absolute;
right: 0px;
margin-top: 20px;
margin-right: 25px;
border: 2.5px solid black;
padding: 3px 6px;
}

#fullMenu i:hover {
  border: 2.5px solid rgb(167, 0, 0);
  color:  rgb(167, 0, 0);
  margin-top: 21px;
}

#gallery {
  display: flex;
  text-align: center;
  margin-top: 20px;
  height: 75%;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery span {
  margin: 50px;
}

.imgGallery {
  position: relative;
  top: 25px;
  height: 50% !important;
}

.boxGallery {
  border: 3px solid black;
  width: 300px;
  height: 400px;
  background-color: #4e4e4e6e;
}
.boxGallery img {
  width: auto;
  margin-top: 10% !important;
}

#titleFullMenu{
  cursor: pointer;
  position: absolute;
  right: 0px;
  background-color: #ffd70052;
}


#titleFullMenu i {
  font-size: 25px;
  position: relative;
  margin-right: 35px;
  margin-left: 15px;
}


.title h1 {
    margin-left: 7px;
}

.card {
  margin: 25px 0px;
}

#allCards {
    margin-top: 3% !important;
    width: 100%;
    display: flex;
    margin-top: 1.5%;
    flex-flow: row wrap;
    justify-content: center;
}

.container{
  position: relative;
  margin-right: 25px;
  margin-left: 25px;
}

.container .card{
  border: 5px solid #f9871d;
  position: relative;
  width: 300px;
  height: 450px;
  background: #CFC486;
  border-radius: 20px;
  overflow: hidden;
}

.container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #80856D;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.container .card:after{
  font-family: ui-rounded;
  content: 'Do&Co';
  position: absolute;
  top: 65%;
  left: -1%;
  transform: rotate(-15deg);
  font-size: 6em;
  font-weight: 800;
  font-style: italic;
  color: rgb(128 133 109 / 25%)
}

.container .card .imgBx{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.container .card:hover .imgBx{
  top: 5%;
  transform: translateY(0%);
    
}

.container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}

.container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 210px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 3px;
  color: black;
  margin: 0;
}

.container .card:hover .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 3px;
    color: back;
    margin-top: 40px;
    }


.container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

.container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.container .card .contentBx .size span:hover{
  background: #9bdc28;
}

.container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2){
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3){
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4){
  background: #e91e63;
}

.container .card .contentBx a{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.container .card:hover .contentBx a{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
  
}

.about-recipe {
    position: relative;
    margin-top: 40px !important;
}


#cakeImg {
    top: 40%;
    width: 210px !important;
    height: 220px !important;
}

.meatImg {
    transform: translate(-50%, -50%) rotate(0deg) !important;
    width: 270px;
}

.omelete {
    transform: translate(-50%, -50%) rotate(0deg) !important;
    height: 260px;
    border-radius: 0% 0% 25% 25%;
}

#about {
    margin-top: 4%;
}

#information {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#information h1 {
    font-weight: normal;
    text-align: center;
 text-decoration: underline;
}

#information p {
    text-align: center;
    justify-content: center;
    width: 55%;
    margin-left: 30px;

}

#textInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#thninking {
    width: 300px;
}

#devis {
    margin-top: 2%;
}


.ccheader {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.ccheader h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
}
.ccheader {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}

.ccheader h1 {
  margin: 0;
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
}

/* Form CSS*/

.wrapper {
margin-top: 2%;
display: flex;
}

.ccform {
  display: flex;
  margin: 0 auto;
  width: 800px;
  flex-direction: column;
  align-items: center;
}
.ccfield-prepend{
  margin-bottom:10px;
  width:100%;
}

.ccform-addon{
  color:#f8ae45; 
  float:left;
  padding:8px;
  width:8%;
  background: #f5efe6;
  text-align:center;  
}

.ccformfield {
  color:#000000; 
  background:#FFFFFF;
  border: black 2px solid;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
}

.ccformfield {
  font-family: 'Lato',Arial,sans-serif;
}
.ccbtn{
  display:block;
  border:none;
  background:#f8ae45;
  color:#FFFFFF;
  padding:12px 25px;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
}
.ccbtn:hover{
  background:#d8850e;

}
.credit {
  color:#fff;
  width: 800px;
  clear:both;
margin:0 auto;
  line-height:25px;
 padding: 25px 50px; 
}
.credit em{
margin-right:5px;
}
.credit a {
color: #0d2ed5;
font-weight: bold;
text-decoration: none;
}


#contact {
    margin-top: 3%;
}

#icons {
    text-align: center;
}

.icon {
    position: relative;
    font-size: 40px !important;
    margin-right: 70px;
    margin-left: 70px;
}

.icon a:hover {
    top:3px;
}

#phone {
    color: green;
}

#insta {
    color : rgb(177, 39, 177)
}
 
#mail {
    color: #03a9f4;
}

#whatsapp {
    color: #7fb621;
}

footer {
    display: flex;
   text-align: center;
  
}

#copyright {
    width: 100%;
    font-size: 15px !important;
}

@media screen and (min-width: 1000px) {
  #titleFullMenu:hover{
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    background-color: #ffd70052;
  }
}

@media screen and (max-width: 995px) { 
  #test {
    display: flex;
    justify-content: space-between;
  }
  #firstNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .a {
    display: none;
  }
  #logo {
    margin-left: 15px;
  }
  #menuBurger {
    padding: 8px 14px;
    border: solid 0.5px #9b9b9b;
    display: block;
    margin-right: 30px;
    font-size: 25px;
    color: #4e4e4e;
  }
  #menuBurger:hover {

  }
  #navBurger {
    height: 10px;
    position: relative;
    display: flex;           
    flex-direction: column;
    flex-wrap: nowrap;
    transition: height 1s ease;
  }
  #navBurger .a {
    display: block;
    margin: 10px 0px;
  }
  #icoMenu {
    left: -10px;
    font-size: 30px;
    position: relative;
    margin-left: 70px;

  }
  .iconsGroupe {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  #test{
    display: flex;
    width: 100%;
    z-index: 1000;
    background-color: #80856D;
    justify-content: space-between;   
    align-items: center
  }

  #titleMenu {
    top: -230px;
    transition: top 0.9s ease-in-out;
    position: relative;
  }
  


  #icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ccfield-prepend {
    margin-bottom: 10px;
    width: 80%;
}
#thinking {
  width: 260px;
  border: #c5beb5 5px solid;
  padding: 2px;
}
}


@media screen and (max-width: 690px) { 
  #thninking {
    width: 220px;
  }
  #fullMenu {
    width: 85%;
  }
  .boxGallery {
    width: 350px;
  }
}
@media screen and (max-width: 650px) { 
  #titleFullMenu {
    margin-top: 5%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  }
 
  #allCards {
    margin-top: 6% !important;
  }
  .boxGallery {
    width: 250px;
  }
  .imgGallery {
    width: 100% !important;
  }
  
}

@media screen and (max-width: 570px) { 
  #textInfo {
    display: flex;
    flex-direction: column;
    }
    #textInfo p {
      width: 75%;
    }
}


@media screen and (max-width: 400px) { 
  #fullMenu {
    width: 90%;
    height: 95vh;
    margin-top: -2.5%;
}
}